<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest" packages="org.apache.logging.log4j.test">

  <Properties>
  
    <Property name="filename">easyfit.log</Property>
	
  </Properties>
 
  <Appenders>
  
    <Appender type="File" name="File" fileName="${filename}">
      <Layout type="PatternLayout">
        <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
      </Layout>
    </Appender>
	
  </Appenders>
 
  <Loggers>
  
    <Logger name="org.apache.logging.log4j.test2" level="debug" additivity="false">
      <AppenderRef ref="File"/>
    </Logger>
 
    <Root level="debug">
      <AppenderRef ref="File"/>
    </Root>
	
  </Loggers>
 
</Configuration>